
@{
    ViewBag.Title = "BrickPile - Dashboard";
    Layout = "~/Areas/BrickPile.UI/Views/Shared/_Layout.cshtml";
}

@section GlobalNavigation {
    <ul>
        <li class="current dashboard">@Html.ActionLink("Dashboard", "index", "dashboard")</li>
        <li class="content">@Html.ActionLink("Content", "index", "content")</li>
        <li class="settings">@Html.ActionLink("Settings", "index", "settings")</li>
    </ul>
}

