
@model BrickPile.Sample.ViewModels.HomeViewModel
@using BrickPile.UI.Common
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="push">
	<a href="@Url.Action("index",new { model = Model.MainTeaser })")>
        <img src="@Model.CurrentModel.MainTeaser.Image" alt="@Model.CurrentModel.MainTeaser.ImageAlt" />
    </a>
</div>