/*
    BrickPile - Global stylesheet

    TABLE OF CONTENTS
    -----------------
    1 Reset
    2 Global
    3 Forms
    4 Anchors

    FONT SIZE CONVERSIONS
    ---------------------
    10px: 83.3%
    11px: 91.7%
    12px: 100%
    13px: 108.3%
    14px: 116.7%
    15px: 125%
    16px: 133.3%
    17px: 141.7%
    18px: 150%
    20px: 166.7%
    24px: 200%
    26px: 
    38px: 

    COLORS
    ------
    Anchors: 
    Border: 
*/

@media screen {
    /*------------------------------------------------------------------
    1 Reset
    -------------------------------------------------------------------*/
    body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	    margin:0;
	    padding:0;
    }
    table {
	    border-collapse:collapse;
	    border-spacing:0;
    }
    fieldset,img { border:0; }
    address,caption,cite,code,dfn,th,var {
	    font-style:normal;
	    font-weight:normal;
    }
    em {
        font-weight:normal;
    }
    ol,ul { list-style:none; }
    caption,th { text-align:left; }
    h1,h2,h3,h4,h5,h6 {
	    font-size:100%;
	    font-weight:normal;
    }
    q:before,q:after { content:''; }
    abbr,acronym { border:0; }
    header, nav, article, section, aside, hgroup { display:block; }
    
    /*------------------------------------------------------------------
    2 Global
    -------------------------------------------------------------------*/
    body {
        font:75%/1.6 'Helvetica Neue', Arial, Sans-Serif;
    }
    /*------------------------------------------------------------------
    2 Forms
    -------------------------------------------------------------------*/
    input {
        font:100%/1 'Helvetica Neue', Arial, Sans-Serif;
    }
    button {
        font:100%/1 'Helvetica Neue', Arial, Sans-Serif;
    }
    input::-webkit-input-placeholder {
        color:#939494;
        font-style:italic;
    }

    input:-moz-placeholder {
        color:#939494;
        font-style:italic;
    }    
    /*------------------------------------------------------------------
    4 Anchors
    -------------------------------------------------------------------*/    
    a { color:#fff; }
    a:active,
    a:focus,
    a:hover {  }            
}